{% extends 'base.html.twig' %}

{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}

{% block body %}
    <content class="cartographie">
        <div id="map"></div>
    </content>
{% endblock %}