{% extends 'base.html.twig' %}

{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% apply markdown_to_html %}
            {{ text }}
        {% endapply %}
    </div>

    {% for article in articles %}
        <div class="example-wrapper">
            {% apply markdown_to_html %}
                {{ article.content }}
            {% endapply %}
        </div>
    {% endfor %}

{% endblock %}