content.cartographie {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;

  & #map {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}